.wenjing-enter {
  opacity: 0 !important;
  height: 0px !important;
}
.wenjing-enter-active {
  transition: 1s all !important;
}
.wenjing-enter-to {
  opacity: 1 !important;
  height: 461px !important;
}
.wenjing-leave-active {
  transition: 1s all !important;
}
.wenjing-leave-to {
  opacity: 0 !important;
  height: 0 !important;
}
